.appBarBackground{
    background-image: url("https://media.milanote.com/p/images/1NiWZU1gg8XEe6/Fmf/thbackground.png");
    background-size: cover;
}

.appBarLogo{
    width: 50px;
}

.logoutTextButton{
    display: block;
}

.logoutIconButton{
    display: none;
}

@media (max-width: 576px) {
    .logoutTextButton{
        display: none;
    }
    
    .logoutIconButton{
        display: block;
    }
}