.imageContainer{
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: -webkit-fill-available;
    background-image: url("https://media.milanote.com/p/images/1NiWVo1gg8XEe4/hhS/thlogo5.png");
    background-size: cover;
}

.appLogo {
    width: 10%;
}

@media (max-width: 576px) {
    .appLogo {
        width: 50%;
    }
}
