.searchBar {
    width: 45%;
    display: block;
    margin: auto;
}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieSubContainer {
    display: inline-block;
}

@media (max-width: 576px) {
    .searchBar {
        width: 98%;
    }
}
